<nav class="bg-black absolute z-10 top-15 right-0 py-5">
  <ul class="text-white text-sm h-44">
    <li class="p-4 hover-nav">
      <i class="im im-user-male pr-2 text-red-800 text-sm"></i
      ><span class="text-red-500">Kévin</span>
    <li class="p-4 hover-nav">
      <i class="im im-gamepad pr-2 text-red-800 text-sm"></i>
      <a href="/my-list" class="">Ma liste</a>
    </li>
    <li class="p-4 hover-nav">
      <i class="im im-eject pr-2 text-red-800 text-sm"></i><a href="#">Signout</a>
    </li>
  </ul>
</nav>
